:root{
    --def-padding: 15px;
    --txt-clr: white;
    /* --txt-clr: #C6C1E2; */

    --color-1:#D1602A;
    --color-2: #C6C1E2;
    --color-3: #842C32;
    --color-4: #1F6FC6;
    --color-5: #031D40;
    --lwidth: clamp(300px, 35vw, 400px);
    --lheight: 100vh;
    --rwidth: 100vw;
    --rheight:100vh;
}
.content{
    display: flex;
}
img{
    width: var(--lwidth);
    height: var(--lheight);
}
#left{
    width: var(--lwidth);
    height: var(--lheight);
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: .55rem;
    /* font-family: 'MuseoModerno', cursive; */
    /* font-family: 'Reenie Beanie', cursive; */
    /* font-family: 'Nova Mono', monospace; */
    font-size: 3rem;
    color:var(--txt-clr);
    text-align: center;
}
.icon{
    display: flex;
    position: absolute;
    top: 130px;
    width: var(--lwidth);
    padding: var(--def-padding) 0px;
    background-color: rgba(0, 0, 0, 0.517);
    justify-content: center;
}
.icon img{
    height: 50px;
    width: 50px;
    padding: 0 15px 0 0;
}
p{
    /* font-family: 'Bebas Neue', sans-serif; */
    
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    font-weight: 1000;
    padding: var(--def-padding);
}
p em{
    font-style: italic;
    padding-right: 3px;
}
#right{
    color: var(--txt-clr);
    background-color: var(--color-5);
    width: var(--rwidth);
    height: var(--rheight);
    
}
.blurb{
    margin-top: 100px;
}
.form{
    padding: var(--def-padding);
    background-color: var(--color-2);
    color: var(--color-1);
    font-weight: 2000;
}
form{
    /* display: grid; */
    padding: var(--def-padding);
    background-color: var(--color-2);
    color: var(--color-1);
    box-shadow: black;
}
fieldset{
    /* width: calc(var(--rwidth)/2); */
    display: flex;

}
fieldset input{
    width: 150px;
    &:focus{
        outline: none;
        border: 2px solid var(--color-4);
        box-shadow: 3px var(--color-3);
    }
    /* &:invalid{
        border: 1px solid var(--color-3);
    }
    &:valid{
        border: 1px solid #188030;
    } */
}
label{
    padding: 1px 0;
    font-weight: 500;
    font-size: .75rem;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    /* background-color: rgba(255, 255, 255, 0.346); */

}
.input-container{
    display: flex;
    flex-direction: column;
    margin: 5px;

}
button{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: var(--color-1);
    margin: 10px;
    color: white;
    &:hover{
        background-color: var(--color-2);
        color: var(--color-1);
    }
}
a:visited{
    text-decoration: none;
    color: var(--color-1);
}